{% block sidebar %}
    <div class="col-md-4 float-right">
        <div class="card my-4">
            <h5 class="card-header">О нас</h5>
            <div class="card-body">
                <p class="card-text">Этот блог был написан на самом популярном веб-фреймворке,
                    реализованном на Python - Django!</p>
                <a href="https://www.djangoproject.com/" class="btn btn-danger" target="_blank">Узнать больше</a>
            </div>
        </div>
    </div>
{% endblock sidebar %}